doctype html
html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(
        content="width=device-width, initial-scale=1.0" 
        name="viewport"
        )
        title #{pageTitle}
        link(
            rel="icon"
            href =info.favicon 
            type = "image/png"
        )

        link(
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
        rel="stylesheet"
        )
        link(
        rel="stylesheet" 
        href="https://unpkg.com/aos@2.3.1/dist/aos.css"
        )
        link(
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" 
        rel="stylesheet"
        )
        link(
        href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.min.css" 
        rel="stylesheet"
        )
        link(
        href="/assets/css/style.css" 
        rel="stylesheet"
        )
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    body
        - if (messages.success)
            script.
                Swal.fire({
                icon: 'success',
                title: 'Thành công!',
                text: '#{messages.success}',
                timer: 3000,
                showConfirmButton: false
                });
        .top-header
            .container
                .inner-wrap
                    .inner-item
                        i.fa-solid.fa-phone
                        | #{info.phone}
                    .inner-item
                        i.fa-solid.fa-envelope
                        | #{info.email}
                    .inner-item
                        i.fa-solid.fa-building
                        | #{info.address}
        // End Top Header
        // Header
        header.header
            .container
                .inner-wrap
                    // Menu Mobile
                    button.inner-menu-mobile
                        i.fa-solid.fa-bars
                    // Logo
                    .inner-logo
                        a(href="/")
                            img(
                                style="width:90px;height:60px"
                                alt=info.websiteName 
                                src=info.logo
                                )
                    // Menu
                    nav.inner-menu
                        ul
                            li
                                a.active(href="/") Trang chủ    
                            each item in categoryList
                                li
                                    a(href=`/book/${item.slug}`) #{item.name}
                                    i.fa-solid.fa-caret-down
                                    ul
                                        each i in item.children
                                            li
                                                a(href=`/book/${i.slug}`) - #{i.name}
                                                    each it in i.children
                                                        li
                                                            a(href=`/book/${it.slug}` style="margin-left:20px") #{it.name}


                            li
                                a(href="/new/ky-nang-doc-sach-hieu-qua") Tin tức
                            li
                                a(href="/contact-client") Liên hệ
                        .inner-overlay
                    .inner-user-cart
                        //cart
                        .inner-cart
                            a(href="/cart")
                                img(
                                    alt="Cart" 
                                    src="/assets/images/icon-cart.svg"
                                    )
                            span() #{lengthCart}
                        //user
                        .inner-user                 
                            img(
                                alt="user" 
                                src="/assets/images/icon-user.svg"
                                )
                            .inner-user-unsuccess
                                .inner-wrap 
                                    .inner-item 
                                        a(href="/account/login") Đăng nhập
                                    .inner-item-register 
                                        a(href="/account/register") Đăng ký
                            .inner-user-success
                                 .inner-wrap 
                                    .inner-item 
                                        a(href="/info-user")
                                            img(src="/assets/images/item-user.png")
                                            | Thông tin tài khoản
                                    .inner-item
                                        a(href="/") 
                                            img(src="/assets/images/item-order.png")
                                            | Lịch sử đơn hàng
                                    .inner-item-logout 
                                        a(href="/account/logout") 
                                            img(src="/assets/images/icon-logout.png")
                                            | Đăng xuất
            
                // End Header
        block main
        // Footer
        footer.footer
            .container
                .inner-top
                    h2.inner-title Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi
                    form#email-form.inner-form(action="#")
                        input#email-input(
                        name="email" 
                        placeholder="Nhập email của bạn..." 
                        type="email"
                        )
                        button(type="submit") Đăng Ký Ngay
                .inner-middle
                    nav.inner-links
                        ul
                            li
                                a(href="/") Trang Chủ
                            li
                                a(href=`/book/sach-trong-nuoc`) Sách Trong Nước
                            li
                                a(href=`/book/sach-nuoc-ngoai`) Sách Nước Ngoài
                            li
                                a(href="/new/ky-nang-doc-sach-hieu-qua") Tin Tức
                            li
                                a(href="/contact-client") Liên Hệ
                    nav.inner-socials
                        ul
                            li
                                a(
                                target="_blank" 
                                href="https://www.facebook.com/share/1J9WTBysic/?mibextid=wwXIfr"
                                )
                                i.fa-brands.fa-facebook
                            li
                                a(
                                target="_blank" 
                                href="/"
                                )
                                i.fa-brands.fa-x-twitter
                            li
                                a(
                                target="_blank" 
                                href="/"
                                )
                                i.fa-brands.fa-instagram
                            li
                                a(
                                target="_blank" 
                                href="https://www.youtube.com/results?search_query=book+store"
                                )
                                i.fa-brands.fa-youtube
                .inner-bottom
                    .inner-copyright @BookShop 2025
                    .inner-logo
                        a(href="/")
                        img(
                            alt="" 
                            src=""
                            )
                    nav.inner-links
                        ul
                            li
                                a(href="/policy-service/service") Điều khoản dịch vụ
                            li
                                a(href="/policy-service/policy") Chính sách bảo mật
        // End Footer
        .box-contact
            ul
                //- li(style="color:white" open-chat )  
                //-     i.fa-solid.fa-comment
                li
                    a(
                        target="_blank" 
                        href="https://www.facebook.com/share/1J9WTBysic/?mibextid=wwXIfr"
                        )
                        i.fa-brands.fa-facebook-f
                li
                    a(
                        target="_blank" 
                        href="/"
                        )
                        i.fa-brands.fa-instagram
                li
                    a(
                        target="_blank" 
                        href="/"
                        )
                        i.fa-brands.fa-viber
                li
                    a(
                        target="_blank" 
                        href="https://www.youtube.com/results?search_query=book+store"
                        )
                        i.fa-brands.fa-youtube
            // End Box Contact
        .box-chat 
            .inner-top 
                img(src=info.logo, alt="")
                span(style="color:white") Tư vấn chọn sách
                i.fa-solid.fa-circle-minus(close-chat)
            .inner-reply
                .inner-chat-bot Bạn muốn tôi tư vấn về sách gì?
            .inner-chat
                input(type="text" input-chat placeholder="Nhập vào đây...")
                button(send-chat)
                    i.fa-solid.fa-paper-plane
        script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.min.js")
        script(
        src="https://cdn.jsdelivr.net/npm/just-validate@4.3.0/dist/just-validate.production.min.js"
        )
        script(src="/assets/js/script.js")