extends ../layout/default.pug
include ../mixins/product-item.pug
include ../mixins/options.pug
block main 
  // Breadcrumb
  .box-breadcrumb
    .inner-image
      img(
        alt="" 
        src="/assets/images/background_1.jpg"
        )
    .inner-content
      .container
        h1.inner-title #{dataCategory.name}
        .inner-list
          a(href="/") Trang Chủ
          if(breadList.length >0)
            each item in breadList
              a(href=`/book/${item.slug}`) #{item.name}
          a(href=`/book/${dataCategory.slug}`) #{dataCategory.name}
   
  // End Breadcrumb
  // Section 9
  .section-9
    .container
      .inner-wrap
        .inner-left
          // Box Filter
          .box-filter
            .inner-head 
              .inner-title Bộ Lọc
              i.fa-solid.fa-filter
            .inner-body(filter-price)
              .inner-group
                .inner-label Thể loại
                select(name="" category)
                  option(value="") -- Chọn thể loại --
                  +options(filterChild,0)
              .inner-group
                .inner-label Mức giá
                select(name="" price)
                  option(value="") -- Chọn khoảng giá --
                  option(value=0) Dưới 50k
                  option(value=50) Từ 50k đến 100k
                  option(value=100) Từ 100k đến 200k
                  option(value=200) Trên 200k
              .inner-group
                button(excute).inner-button Áp Dụng
              .inner-group
                button(clear).inner-button Xóa lọc
          .inner-overlay
          // End Box Filter
        .inner-right
          .inner-info
            h2.inner-title #{dataCategory.name}
            .inner-desc #{dataCategory.description}
          .inner-info-2
            .inner-sort
              .inner-label Sắp xếp:
              .inner-list
                button(button-asc value="asc")
                  | Giá tăng dần
                  i.fa-solid.fa-square-caret-up
                button(button-desc value="desc")
                  | Giá giảm dần
                  i.fa-solid.fa-square-caret-down
            .inner-count-record
              | Tất cả: 
              b #{totalBook} cuốn sách trong #{dataCategory.name}
            button.inner-filter-mobile
              span.inner-title Bộ Lọc
              i.fa-solid.fa-filter
          .inner-list-tour
            - if(allBook.length >0 )
              each item in allBook 
                +product-item(item)
            -else
              p(style ="font-size:21px;color:red") Không tồn tại sản phẩm này!
            // End Product Item
          // Pagination
          .box-pagination(box-pagination)
            button
              i.fa-solid.fa-angles-left
            button(page=1).active 1
            - for(let i=2;i<=totalPage;i++)
              button(page=i) #{i}
            button
              i.fa-solid.fa-angles-right
          // End Pagination
  // End Section 9
    