extends ../layout/default.pug
include ../mixins/bread.pug
block main
  +breadcrumb(bread)
  // Section 10
  .section-10
    .container
      .inner-wrap
        .inner-left
          .box-images
            .inner-images-main
              .swiper.swiper-box-images-main
                .swiper-wrapper
                  .swiper-slide
                    .inner-image
                      img(
                        alt="" 
                        src=book.avatar1
                        )
                  .swiper-slide
                    .inner-image
                      img(
                        alt="" 
                        src=book.avatar2
                        )
                  .swiper-slide
                    .inner-image
                      img(
                        alt="" 
                        src=book.avatar3
                        )
            .inner-images-thumb
              .swiper.swiper-box-images-thumb
                .swiper-wrapper
                  .swiper-slide
                    .inner-image
                      img(
                        alt="" 
                        src=book.avatar1
                        )
                  .swiper-slide
                    .inner-image
                      img(
                        alt="" 
                        src=book.avatar2
                        )
                  .swiper-slide
                    .inner-image
                      img(
                        alt="" 
                        src=book.avatar3)
          .box-tour-info
            .inner-title Mô tả sách
            .inner-content !{book.information}       
            .inner-read-more
              button.button-outline Xem tất cả
        .inner-right
          .box-tour-detail(book-detail)
            .inner-title-main Thông tin sách
            .inner-product
              .inner-image
                img(
                  alt="" 
                  src=book.avatar1
                  )
              .inner-info
                .inner-title(style ="font-size:24px") #{book.name}
            .inner-meta
              .inner-item
                span Mã sách:
                span.inner-highlight #{book.bookCode}
              .inner-item
                span Tên tác giả:
                span.inner-highlight #{book.author}
              .inner-item
                span Nhà xuất bản:
                span.inner-highlight #{book.produce}
              .inner-item
                span Số lượng sách còn lại:
                span.inner-highlight(stock=book.numberBook) #{book.numberBook}
            .inner-quantity
              .inner-list
                .inner-item
                  .inner-item-label Số lượng mua:      
                  .inner-item-input
                    input(
                      value="1" 
                      min="1" 
                      type="number"
                      number-detail
                      )
                  .inner-item-price
                    span(number) 1
                    span x
                    span.inner-highlight(priceBook=book.priceBook) #{book.priceBook.toLocaleString("vi-VN")}đ
            .inner-total
              .inner-total-label Tổng cộng:
              .inner-total-price
                span(totalPrice) #{book.priceBook.toLocaleString("vi-VN")}
                span đ
            button.inner-button-add-cart(idBook = book.id) Thêm Vào Giỏ Hàng
  // End Section 10