extends ../layout/default.pug
block main
  // Section 11
  .section-11
    .container
      .inner-wrap
        .inner-head
          .inner-title Giỏ Hàng
          a.inner-back(href="/")
            | Quay lại mua hàng
            i.fa-solid.fa-angle-right
        .inner-tour-list(cart-list)
        .inner-list-price
          .inner-item
            .inner-label Thanh toán:
            .inner-price-highlight 
              span(pay-price) 0
              span đ
  // End Section 11
  // Section 12
  .section-12
    .container
      .inner-wrap
        form#order-form(action="")
          .inner-info
            .inner-title-main Thông Tin Khách Hàng
            .inner-inputs
              .inner-input
                input#full-name-input(
                  placeholder="Họ và tên" 
                  name="fullName" 
                  type="text"
                  )
              .inner-input
                input#phone-input(
                  placeholder="Số điện thoại" 
                  name="phone" 
                  type="text"
                  )
            textarea(
              placeholder="Ghi chú" 
              name="note"
              )
          .inner-method
            .inner-title-main Chọn phương thức thanh toán
            .inner-list
              .inner-item
                input#methodMoney(
                  checked="" 
                  value="money" 
                  name="method" 
                  type="radio"
                  )
                label(for="methodMoney") Thanh toán tiền mặt 
              .inner-item
                input#methodZalopay(
                  value="zalopay" 
                  name="method" 
                  type="radio"
                  )
                label(for="methodZalopay") Zalopay
              .inner-item
                input#methodBank(
                  value="bank" 
                  name="method" 
                  type="radio"
                  )
                label(for="methodBank") Chuyển khoản ngân hàng
            .inner-info-bank
              .inner-title Thông tin chuyển khoản
              .inner-text Ngân hàng : Viettin Bank
              .inner-text Tên tài khoản: Nguyễn Tiến Đạt
              .inner-text STK: 0914913491
          .inner-button
            button(type="submit") ĐẶT SÁCH
  // End Section 12
