extends ../layout/default.pug
include ../mixins/product-item.pug
block main 
  .section-1
    .container
      .inner-wrap
        h1.inner-title(
          data-aos-duration="800" 
          data-aos="fade-up"
          )
          | Mỗi cuốn sách là một hành trình 
          br
          | Khám phá thế giới qua từng trang sách
        p.inner-desc(
          data-aos-delay="150" 
          data-aos-duration="800" 
          data-aos="fade-up"
          )
          | Giữa thế giới đầy biến động, một cuốn sách hay không chỉ mở ra cánh cửa tri thức mà còn trở thành người bạn đồng hành lặng lẽ, giúp bạn tìm lại sự bình yên, khai phá tư duy và nuôi dưỡng tâm hồn theo cách mà không điều gì khác có thể làm được.
      .inner-form(
        data-aos-delay="300" 
        data-aos-duration="800" 
        data-aos="fade-up" 
        action="#"
        search
        )
        .inner-box.inner-address
          .inner-input-group
            img.inner-icon(src="/assets/images/icon-find.jpg" style="width:25px;height:25px")
            input.inner-input(
              placeholder="Tìm kiếm sách" 
              type="text"
              find-book
              )
  // End Section 1
  // Section 4
  .section-4
    .container
      h2.box-title(
        data-aos-duration="800" 
        data-aos="fade-up"
        ) Sách Trong Nước
      .inner-wrap(
        data-aos-delay="150" 
        data-aos-duration="800" 
        data-aos="fade-up"
        )
        // Product Item
        each item in bookVn
          +product-item(item)
        // End Product Item
      .inner-button
        a.button-outline(href=`/book/sach-trong-nuoc`) Xem tất cả
  // End Section 4

  // Section 6
  .section-4
    .container
      h2.box-title(
        data-aos-duration="800" 
        data-aos="fade-up"
        ) Sách Nước Ngoài
      .inner-wrap(
        data-aos-delay="150" 
        data-aos-duration="800" 
        data-aos="fade-up"
        )
        // Product Item
        each item in bookNn
          +product-item(item)
        // End Product Item
      .inner-button
        a.button-outline(href=`/book/sach-nuoc-ngoai`) Xem tất cả
  // End Section 6

  // Section 8
  .section-8
    .container
      h2.box-title(
        data-aos-duration="800" 
        data-aos="fade-up"
        ) Tin Tức Mới
      .inner-wrap(
        data-aos-delay="150" 
        data-aos-duration="800" 
        data-aos="fade-up"
        )
        each item,index in newList
          - if(index!=1)  
            .blog-item
              a(href=`/new/${item.slug}`)
                .inner-image
                  img(
                    alt=item.name
                    src=item.avatar
                    )
                .inner-content
                  .inner-date #{item.createdAtFormat}
                  h3.inner-title #{item.name}
          - if(index==1)      
            .blog-item-2
              a(href=`/new/${item.slug}`)
                .inner-image
                  img(
                    alt=item.name
                    src=item.avatar
                    )
                .inner-content
                  .inner-date #{item.createdAtFormat}
                  h3.inner-title #{item.name}
                  .inner-desc !{item.content}
  // End Section 8