extends ../layout/default.pug
block main
  .container
    .section-11(style="padding-top: 20px;")
      .inner-wrap
        h4 Cảm ơn quý khách đã đặt sách! Chúng tôi sẽ liên hệ lại với quý khách trong thời gian sớm nhất.
        .inner-head
          .inner-title Thông tin đơn hàng
        p Mã đơn hàng: #{order.orderCode}
        p Tên khách hàng: #{order.fullName}
        p Số điện thoại: #{order.phone}
        p Ghi chú: #{order.note}
        p Phương thức thanh toán: #{order.methodName}
        p Trạng thái thanh toán: #{order.payStatusName}
        p Trạng thái đơn hàng: #{order.statusName}
        p Ngày đặt: #{order.createdAtFormat}

    .section-11(style="padding-top: 20px;")
      .inner-wrap
        .inner-head
          .inner-title Danh sách sản phẩm đã đặt
        .inner-tour-list
          // Tour Item
          each item in order.cart
            .inner-tour-item
              .inner-product
                .inner-image
                  a(href=`/book/detail/${item.slug}`)
                    img(
                      alt=item.name 
                      src=item.avatar
                      )
                .inner-content
                  .inner-title
                    a(href=`/book/detail/${item.slug}`) #{item.name}
              .inner-quantity
                .inner-list
                  .inner-item
                    .inner-item-label Số lượng:
                    .inner-item-price
                      span #{item.quantity}
                      span  x
                      span.inner-highlight  #{item.priceBook.toLocaleString("vi-VN")}đ
                  .inner-item
                    .inner-item-labell Phí vận chuyển:
                    .inner-item-price
                      span.inner-high  #{fee.toLocaleString("vi-VN")}đ
            // End Tour Item
        .inner-list-price
          .inner-item
            .inner-label Tổng tiền:
            .inner-price(style= "color:red") #{order.priceTotal.toLocaleString("vi-VN")}đ