extends ../layouts/default.pug
include ../mixins/options.pug
block main
  h1.box-title Chỉnh sửa sách
  - if(permissions.includes("book-edit"))
    .section-8
      form#book-edit-form
        .inner-group(style="display:none")
            label(class="inner-label" for="id") id
            input(type="text" id="id" name="id" value=currentBook.id)
        .inner-group
          label(class="inner-label" for="name") Tên sách
          input(type="text" id="name" name="name" value=currentBook.name)
        .inner-group
          label(class="inner-label" for="category") Danh mục
          select(id="category" name="category")
            option(value="") -- Chọn danh mục --
            +options(categoryList,0,currentBook.category)
        .inner-group
          label(class="inner-label" for="author") Tên tác giả
          input(type="text" id="author" name="author" value=currentBook.author)
        .inner-group
          label(class="inner-label" for="produce") Nhà xuất bản
          input(type="text" id="produce" name="produce" value=currentBook.produce)
        .inner-group
          label(class="inner-label" for="position") Vị trí
          input(type="number" id="position" name="position" value=currentBook.position)
        .inner-group.inner-two-col
          label(class="inner-label" for="avatar1") Ảnh 1
          div(class="inner-upload-image" image-default=currentBook.avatar1? currentBook.avatar1: "" )
            input(type="file" id="avatar1" accept="image/*" filepond-image name="avatar1")
        .inner-group.inner-two-col
          label(class="inner-label" for="avatar2") Ảnh 2
          div(class="inner-upload-image" image-default=currentBook.avatar2? currentBook.avatar2 : "")
            input(type="file" id="avatar2" accept="image/*" filepond-image name="avatar2")
        .inner-group.inner-two-col
          label(class="inner-label" for="avatar3") Ảnh 3
          div(class="inner-upload-image" image-default=currentBook.avatar3? currentBook.avatar3 :"")
            input(type="file" id="avatar3" accept="image/*" filepond-image name="avatar3")
        .inner-group
          label(class="inner-label" for="priceBook") Giá bán
          input(type="number" name="priceBook" value=currentBook.priceBook)
        .inner-group
          label(class="inner-label" for="numberBook") Số lượng
          input(type="number" name="numberBook" value=currentBook.numberBook)
        .inner-group.inner-two-col
          label(class="inner-label" for="information") Thông tin sách
          textarea(id="information" textarea-mce name="information") #{currentBook.information}
        .inner-button.inner-two-col
          button Cập nhật
      .inner-back
        a(href=`/${pathAdmin}/book/list`) Quay lại danh sách
  - else
    script.
      Swal.fire({
        icon: 'error',
        title: 'Lỗi truy cập!',
        text: 'Bạn không có đủ thẩm quyền vào trang này!',
        timer: 3000,
        showConfirmButton: false,
        willClose: () => {
          window.location.href = `/${pathAdmin}/dashboard`;
        }
      });