extends ../layouts/default.pug
include ../mixins/options.pug
block main
  h1.box-title Chỉnh sửa danh mục

  .section-8
    form#category-edit-form
      .inner-group(style="display:none")
        label(class="inner-label" for="id") Id
        input(type="text" id="id" name="id" value=categoryCurrent.id)
      .inner-group
        label(class="inner-label" for="name") Tên danh mục
        input(type="text" id="name" name="name" value=categoryCurrent.name)
      .inner-group
        label(class="inner-label" for="parent") Danh mục cha
        select(id="parent" name="parent")
          option(value="") -- Chọn danh mục --
          +options(categoryList,0,categoryCurrent.parent)
      .inner-group
        label(class="inner-label" for="position") Vị trí
        input(type="number" id="position" name="position" value=categoryCurrent.position)
      .inner-group.inner-two-col
        label(class="inner-label" for="avatar") Ảnh đại diện
        div(class="inner-upload-image" image-default=categoryCurrent.avatar)
          input(type="file" id="avatar" accept="image/*" filepond-image name="avatar")
      .inner-group.inner-two-col
        label(class="inner-label" for="description") Mô tả
        textarea(id="description" textarea-mce name="description") #{categoryCurrent.description}
      .inner-button.inner-two-col
        button Chỉnh sửa
    .inner-back
      a(href=`/${pathAdmin}/category/list`) Quay lại danh sách