extends ../layouts/default.pug
block main
  h1.box-title Tổng quan
  - if(permissions.includes("dashboard-view"))
    //- Section 1
    .section-1
      .inner-item
        .inner-icon
          img(src="/admin/assets/images/section-1-icon-1.svg")
        .inner-content
          .inner-title Quản trị viên
          .inner-number #{dashboard.account}
      .inner-item
        .inner-icon
          img(src="/admin/assets/images/section-1-icon-2.svg")
        .inner-content
          .inner-title Đơn hàng
          .inner-number #{dashboard.order}
      .inner-item
        .inner-icon
          img(src="/admin/assets/images/section-1-icon-3.svg")
        .inner-content
          .inner-title Doanh thu
          .inner-number #{dashboard.priceTotal.toLocaleString("vi-VN")}đ
    //- End Section 1
    
    //- Section 3
    .section-3
      h2.inner-title Đơn hàng mới
      .table-1
        table
          thead
            tr
              th Mã
              th Thông tin khách
              th Danh sách sản phẩm
              th Thanh toán 
              th Trạng thái
              th.inner-text-right Ngày đặt
          tbody
            each item in orderNew
              tr
                td
                  .inner-code #{item.orderCode}
                td
                  .inner-text Họ tên: #{item.fullName}
                  .inner-text Số điện thoại: #{item.phone}
                  .inner-text Lời nhắn: #{item.note}
                td
                  each it in item.cart
                    .inner-item
                      .inner-image
                        img(src=it.avatar, alt=it.name)
                      .inner-content
                        .inner-name #{it.name}
                        .inner-quantity Số lượng: #{it.numberBook} x #{it.priceBook.toLocaleString("vi-VN")}đ
                td
                  .inner-text Tổng tiền: #{item.priceTotal.toLocaleString("vi-VN")}đ
                  .inner-text PTTT: #{item.nameMethod}
                  .inner-text TTTT: #{item.nameStatusPay}
                td
                  .badge.badge-orange Khởi tạo
                td.inner-text-right
                  .inner-text #{item.formatTime}
                  .inner-text #{item.formatDay}
    //- End Section 3