extends ../layouts/default.pug
include ../mixins/options.pug
block main
  h1.box-title Quản lý bài viết
  - if(permissions.includes("new-view"))
    //- Section 4
    .section-4
      .inner-wrap
        .inner-item.inner-label
          <i class="fa-solid fa-filter"></i> Bộ lọc
        .inner-item
          select(new-creater)
            option(value="") Người tạo
            each item in accountList
              option(value=item.id) #{item.fullName}
        .inner-item.inner-date
          input(type="date" start-date)
          span -
          input(type="date" end-date)
        .inner-item.inner-reset(button-reset)
          <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
    //- End Section 4

    //- Section 5
    .section-5
      .inner-wrap
        - if(permissions.includes("new-delete"))
          .inner-change-status(change-status)
            .inner-item
              select
                option(value="") -- Hành động --
                option(value="delete") Xóa
            .inner-item
              button Áp dụng
        .inner-search
          <i class="fa-solid fa-magnifying-glass"></i>
          input(type="text" placeholder="Tìm kiếm" new-search)
        - if(permissions.includes("new-create"))
          .inner-button-create
            a(href=`/${pathAdmin}/new/create`) + Tạo mới
    //- End Section 5

    //- Section 6
    .section-6
      .table-2
        table
          thead
            tr
              th(class="inner-center")
                input(type="checkbox" class="inner-check" button-all)
              th(style="width:270px") Tên bài viết
              th Ảnh đại diện
              th(class="inner-center") Vị trí
              th Tạo bởi
              th Cập nhật bởi
              th Hành động
          tbody
            each item in newList
              tr
                td(class="inner-center")
                  input(type="checkbox" class="inner-check" button-item=item.id)
                td #{item.name}
                td
                  img(src=item.avatar class="inner-avatar")
                td(class="inner-center") #{item.position}
                td
                  div #{item.createdBy}
                  div.inner-time #{item.createdAtFormat}
                td
                  div #{item.updatedBy}
                  div.inner-time #{item.updatedAtFormat}
                td
                  .inner-buttons
                    - if(permissions.includes("new-edit"))
                      a(
                        href=`/${pathAdmin}/new/edit/${item.id}` 
                        class="inner-edit") <i class="fa-regular fa-pen-to-square"></i>
                    - if(permissions.includes("new-delete"))
                      button(
                        class="inner-delete" button-delete-new=`/${pathAdmin}/new/delete/${item.id}`) <i class="fa-regular fa-trash-can"></i>
    //- End Section 6

    //- Section 7
    .section-7
      span(class="inner-label" total=totalPage) Hiển thị #{totalPage>0? skip+1 : skip} - #{skip+newList.length}  của #{totalNew}
      select(class="inner-pagination" new-page)
        - for(let i=1;i<=totalPage;i++)
          option(value=i) Trang #{i}
    //- End Section 7