extends ../layouts/default.pug
block main
  h1.box-title Quản lý đơn hàng
  - if (permissions.includes("order-view"))
    //- Section 4
    .section-4
      .inner-wrap
        .inner-item.inner-label
          <i class="fa-solid fa-filter"></i> Bộ lọc
        .inner-item
          select(order-status)
            option(value="") Trạng thái
            option(value="initial") Khởi tạo
            option(value="done") Hoàn thành
        .inner-item.inner-date
          input(type="date" order-startDate)
          span -
          input(type="date" order-endDate)
        .inner-item
          select(order-method)
            option(value="") Phương thức thanh toán
            option(value="money") Tiền mặt
            option(value="zalopay") Zalopay
            option(value="bank") Chuyển khoản
        .inner-item
          select(order-statusPay)
            option(value="") Trạng thái thanh toán
            option(value="paid") Đã thanh toán
            option(value="unpaid") Chưa thanh toán
        .inner-item.inner-reset(order-delete-filter)
          <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
    //- End Section 4

    //- Section 5
    .section-5
      .inner-wrap
        .inner-search
          <i class="fa-solid fa-magnifying-glass"></i>
          input(type="text" placeholder="Tìm kiếm" order-search)
    //- End Section 5

    //- Section 6
    .section-6
      .table-2
        table
          thead
            tr
              th Mã
              th(style="width:170px") Thông tin khách
              th Danh sách sản phẩm
              th(style="width:210px") Thanh toán
              th(style="width:140px") Trạng thái
              th(class="inner-center") Ngày đặt
              th Hành động
          tbody
            each item in orderList
              tr
                td
                  .inner-code #{item.orderCode}
                td
                  div Họ tên: #{item.fullName}
                  div SĐT: #{item.phone}
                  div Địa chỉ nhận hàng: #{item.note}
                td
                  each book in item.cart
                    .inner-item
                      .inner-image
                        img(src=book.avatar, alt=book.name)
                      .inner-content
                        .inner-name #{book.name}
                        .inner-quantity Số lượng: #{book.numberBook} x #{book.priceBook.toLocaleString("vi-VN")}đ
                td
                  div Tổng tiền: #{item.priceTotal.toLocaleString("vi-VN")}đ
                  div PTTT: #{item.nameMethod}
                  div TTTT: #{item.nameStatusPay}
                td
                  - if(item.status == "initial")
                    .badge.badge-orange Khởi tạo
                  - if(item.status == "done")
                    .badge.badge-green Hoàn thành
                  - if(item.status == "cancel")
                    .badge.badge-red Hủy
                td(class="inner-center")
                  div #{item.time}
                  div #{item.day}
                td
                  .inner-buttons
                    - if (permissions.includes("order-edit"))
                      a(href=`/${pathAdmin}/order/edit/${item.orderCode}` class="inner-edit")
                        <i class="fa-regular fa-pen-to-square"></i>
                    - if (permissions.includes("order-delete"))
                      button(class="inner-delete" order-delete=`/${pathAdmin}/order/delete/${item.orderCode}`) <i class="fa-regular fa-trash-can"></i>
    //- End Section 6

    //- Section 7
    .section-7
      span(class="inner-label" total=pagination.totalPage) Hiển thị #{pagination.totalPage>0? pagination.skip+1 : pagination.skip} - #{pagination.skip+orderList.length} của #{pagination.totalOrder}
      select(class="inner-pagination" order-pagination)
        - for(let i=1;i<=pagination.totalPage;i++)
          option(value=i) Trang #{i}
    //- End Section 7