extends ../layouts/default.pug

block main
  h1.box-title Chỉnh sửa tài khoản quản trị
  - if(permissions.includes("account-edit"))
    .section-8
      form#setting-account-admin-edit-form
        .inner-group(style="display:none")
          label(class="inner-label" for="id") Họ tên
          input(type="text" id="id" name="id" value=accountCurrent.id)
        .inner-group
          label(class="inner-label" for="fullName") Họ tên
          input(type="text" id="fullName" name="fullName" value=accountCurrent.fullName)
        .inner-group
          label(class="inner-label" for="email") Email
          input(type="email" id="email" name="email" value=accountCurrent.email readonly)
        .inner-group
          label(class="inner-label" for="phone") Số điện thoại
          input(type="text" id="phone" name="phone" value=accountCurrent.phone)
        .inner-group
          label(class="inner-label" for="role") Nhóm quyền
          select(id="role" name="role")
            option(value="") -- Chọn nhóm quyền --
              each item in roleList
                option(value=item.id
                selected = (item.id==accountCurrent.role?true:false)
                ) #{item.name}
        .inner-group
          label(class="inner-label" for="positionCompany") Chức vụ
          input(type="text" id="positionCompany" name="positionCompany" value=accountCurrent.positionCompany)
        .inner-group
          label(class="inner-label" for="status") Trạng thái
          select(id="status" name="status")
            option(value="initial"
              selected =accountCurrent.status=="initial"? true:false) Khởi tạo
            option(value="active"
              selected =accountCurrent.status=="active"? true:false) Hoạt động
        .inner-group
          label(class="inner-label" for="password") Mật khẩu
          input(type="text" id="password" name="password")
        .inner-group.inner-two-col
          label(class="inner-label" for="avatar") Ảnh đại diện
          div(class="inner-upload-image" image-default=accountCurrent.avatar?accountCurrent.avatar :"")
            input(type="file" id="avatar" accept="image/*" filepond-image name="avatar")
        .inner-button.inner-two-col
          button Cập nhật
      .inner-back
        a(href=`/${pathAdmin}/setting/account-admin/list`) Quay lại danh sách
  - else
    script.
      Swal.fire({
        icon: 'error',
        title: 'Lỗi truy cập!',
        text: 'Bạn không có đủ thẩm quyền vào trang này!',
        timer: 3000,
        showConfirmButton: false,
        willClose: () => {
          window.location.href = `/${pathAdmin}/dashboard`;
        }
      });