mixin product-item(item)
  .product-item
    .inner-image
      a(href="")
        img(
          alt="" 
          src=item.img
          )
    .inner-discount
      i.fa-solid.fa-bolt
      | #{item.sale}
    .inner-content
      h3.inner-title
        a(href="") #{item.travel}
      .inner-prices
        .inner-price-old
          | #{item.priceOld.toLocaleString('vi-VN')}
          span.inner-unit đ
        .inner-price-new
          | #{item.priceNew.toLocaleString('vi-VN')}
          span.inner-unit đ
      .inner-desc
        .inner-desc-item
          | Mã Tour:
          b #{item.IdTour}
        .inner-desc-item
          | Ngày Khởi Hành:
          b #{item.start}
        .inner-desc-item
          | Thời Gian:
          b #{item.time}
      .inner-meta
        .inner-rating
          .inner-stars
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
          .inner-number (5)
        .inner-stock
          .inner-label Số chỗ còn:
          .inner-number #{item.empty}