mixin product-item(item)
  .product-item
    .inner-image
      a(href=`/book/detail/${item.slug}`)
        img(
          alt="" 
          src=item.avatar1
          )
    .inner-content
      h3.inner-title
        a(href=`/book/detail/${item.slug}`) #{item.name}
      .inner-prices
        .inner-price-new
          | Giá: #{item.priceBook.toLocaleString('vi-VN')}
          span.inner-unit đ
      .inner-meta
        .inner-stock
          .inner-label Số lượng còn:
          .inner-number #{item.numberBook}